.ui-widget, .ui-widget .ui-widget {
	font-size: 95% !important;
}

footer {
	border-top-color: #fff;
	text-align: center;
}

.ajax-status {
	position: fixed;
	top: 85px;
	right: 10px;
	width: 35px;
	height: 35px;
}

.data {
	text-align: center;
}

.check {
	text-align: center;
	width: 25px;
}

.valor {
	text-align: center;
}

.numero {
	text-align: center;
}

.imagem {
	text-align: center;
}