.ui-widget, .ui-widget .ui-widget {
	font-size: 90% !important;
}

footer {
	border-top-color: #fff;
	text-align: center;
}

.ajax-status {
	position: fixed;
	top: 85px;
	right: 10px;
	width: 35px;
	height: 35px;
}